body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.login-box input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

.login-box button {
    width: 95%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
