body {
    font-family: Arial;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 80px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    cursor: pointer;
}
